* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/*.background {
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}*/
.LeftBox {
  width: 10%;
  height: 100%;
  background: #504C3F;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.RightBox {
  width: 10%;
  height: 100%;
  background: #504C3F;
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}



.LeftInfo {
  width: 50%;
  color: #999177;
  position: absolute;
  top: 60px;
  left: 16%;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2.5vh;
  opacity: 1;
  text-align: left;
}
.RightInfo {
  width: 50%;
  color: #999177;
  position: absolute;
  top: 60px;
  right: 16%;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2.5vh;
  opacity: 1;
  text-align: right;
}
.SP {
  width: 50%;
  height: 13vh;
  background: url("../images/SP.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 25%;
  overflow: hidden;
}



.num1 {
  width: 12.5%;
  color: #504C3F;
  position: absolute;
  top: 40%;
  left: 16%;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}
.I1 {
  width: 12.5%;
  height: 17%;
  background: url("../images/I1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44%;
  left: 15%;
  border-top-left-radius: 5.5vh;
  border-bottom-right-radius: 5.6vh;
  overflow: hidden;
}



.num2 {
  width: 12.5%;
  color: #504C3F;
  position: absolute;
  top: 40%;
  left: 36%;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}
.I2 {
  width: 12.5%;
  height: 17%;
  background: url("../images/I2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44%;
  left: 35%;
  border-top-left-radius: 5.5vh;
  border-bottom-right-radius: 5.5vh;
  overflow: hidden;
}



.num3 {
  width: 12.5%;
  color: #504C3F;
  position: absolute;
  top: 40%;
  left: 56%;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 2vh;
  opacity: 1;
  text-align: left;
}

